<div class="container content">
  <h2 class="content-title">Sensors</h2>
  <p class="content-desc">
    Data that are gathered from the sensors in your fields.
  </p>
  <div class="row">
    <!-- begin col-3 -->
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="widget widget-stats bg-gradient-green">
        <div class="stats-icon stats-icon-lg"><i class="fas fa-thermometer-quarter"></i></div>
        <div class="stats-content">
          <div class="stats-title">Temperature</div>
          <div class="stats-number">10 &deg;C</div>
          <div class="stats-progress progress">
            <div class="progress-bar" style="width: 70.1%;"></div>
          </div>
          <div class="stats-desc"></div>
        </div>
      </div>
    </div>
    <!-- end col-3 -->
  </div>
  <!-- end row -->
</div>
